<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CommonSettings>
    <!--————————————-->
    <!--        公共参数        -->
    <!--————————————-->

    <!--——————————————————————————————————————————————————————-->
    <!--—————————————————————     客户可定制参数     —————————————————————-->
    <!--——————————————————————————————————————————————————————-->
    <!--连接的PLC个数(默认值：1)-->
    <PLCCount>1</PLCCount>
   
    <!--<DBConnectionInfo>Data Source=.\SQLExpress;Initial Catalog=db_6096BJ;User ID=sa;password =td_1234</DBConnectionInfo>-->
	  <DBConnectionInfo>Data Source=moruiyi;Initial Catalog=db_6096BJ;User ID=sa;password =td_1234</DBConnectionInfo>
	  
	  <!--本地数据库路径-->
    <DBPathInfo>D:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\</DBPathInfo>

    <!--本车库允许存放的最大车辆尺寸-->
    <CarMaxSize>112</CarMaxSize>

    <!--最大取车排队人数(默认值：10)-->
    <GetCarQueueMaxCount>10</GetCarQueueMaxCount>

    <!--定期卡预留车位最大个数(默认值：0)-->
    <ReservedMaxCount>0</ReservedMaxCount>

    <!--报文重复发送次数(默认值：3)-->
    <TelegramResendTime>3</TelegramResendTime>

    <!--日志文件最大容量（单位：MB，默认值：10MB，允许配置范围0~2047MB）-->
    <LogFileMaxSize>10</LogFileMaxSize>

    <!--日志文件保存天数（单位：天，默认值：7天）-->
    <LogFileSaveDays>180</LogFileSaveDays>

    <!--车辆图片和车牌号标志（默认值：0
                              有效值：0-客户端界面不显示车辆图片和车牌号；
                                      1-客户端界面显示车辆图片和车牌号；）-->
    <CarImageFlag>0</CarImageFlag>

    <!--车辆尺寸编号，用于客户端绑定定期卡选择预留车位尺寸时提示-->
    <CarSizeSettings>
      <value>111（长:5300cm * 宽:1950cm * 高:1550cm）</value>
      <value>112（长:5300cm * 宽:1950cm * 高:2050cm）</value>
    </CarSizeSettings>

    <!--客户端界面显示的系统名称-->
    <ClientTitle>智能车库管理系统</ClientTitle>

    <!--计费系统界面显示的系统名称-->
    <BillingTitle>智能车库收费管理系统</BillingTitle>

    <!--控制室串口号（有效值：0-USB刷卡器，1……N-串口刷卡器的串口号）-->
    <MaintainComID>0</MaintainComID>

    <!--LED连接串口号-->
    <LEDComID>0</LEDComID>

    <!--顾客显示屏连接串口号-->
    <CustomerLEDComID></CustomerLEDComID>

    <!--———————————————————————————END——————————————————————————-->


    <!--——————————————————————————————————————————————————————-->
    <!--——————————————————     计费参数：客户可定制参数     ———————————————————-->
    <!--——————————————————————————————————————————————————————-->
    <!--计费标志。1：有计费；0：没有计费(默认值：0)-->
    <BillingFlag>1</BillingFlag>
    <BillingPara>

      <!--临时卡-->
      <type>
        <ID>1</ID>
        <class>CTemporaryCard</class>
        <para></para>
      </type>

      <!--月卡-->
      <type>
        <ID>2</ID>
        <class>CMonthlyCard</class>
        <para>1</para>
      </type>

      <!--季度卡-->
      <type>
        <ID>3</ID>
        <class>CQuarterlyCard</class>
        <para>3</para>
      </type>

      <!--年卡-->
      <type>
        <ID>4</ID>
        <class>CAnnualCard</class>
        <para>12</para>
      </type>
    </BillingPara>

    <!--计费处刷卡器串口号【有计费功能此参数才会生效，没有计费功能此参数无效】-->
    <BillingComID>0</BillingComID>

    <!--———————————————————————————END——————————————————————————-->


    <!--——————————————————————————————————————————————————————-->
    <!--——————————————————     PLC地址：客户不可定制参数      ——————————————————-->
    <!--——————————————————————————————————————————————————————-->
    <!--通信模块标志。（默认值：1
                        有效值：1-OPC订阅事件模块；2-Modbus模块TCP客户端；3-Modbus模块TCP服务端；4-OPC计时器模块；5-Modbus模块TCP客户端计时器模块）-->
    <CommModuleFlag>5</CommModuleFlag>
    <CommModulePara>
      <type>
        <ID>1</ID>
        <class>COPCAccess</class>
        <para></para>
      </type>
      <type>
        <ID>2</ID>
        <class>CTcpClientAccess</class>
        <para>10.34.60.180,2000</para>
      </type>
      <type>
        <ID>3</ID>
        <class>CTcpServerAccess</class>
        <para>10.34.60.180,2000</para>
      </type>
      <type>
        <ID>4</ID>
        <class>COPCAccessTimer</class>
        <!--主机名、刷新频率（单位s）-->
	<para>,1000</para>
      </type>
      <type>
        <ID>5</ID>
        <class>CTcpClientAccessTimer</class>
        <para>192.168.0.10,0,2,1000</para>
        <!--PLC中的IP地址、rack、slot槽号、刷新频率（单位s）-->
      </type>
    </CommModulePara>

    <!--车厅可接受刷取车卡状态PLC地址(默认值：296)-->
    <HallCanGetCar>296</HallCanGetCar>

    <!--车厅可接受新指令状态PLC地址(默认值：297)-->
    <EquipIsAviliable>297</EquipIsAviliable>


    <!--设备相关配置-->
    <EquipInfo
      EquipMaxCount="30"
      ETVorTVMaxCount="10"
      HallMaxCount="10"
      ElevatorMaxCount="10"
        />

    <!--OPC上配置的第一个数据项的数据块起始地址-->
    <DBAddress
      RecvAndSendItemCount="4"
      StartDBAddress="1001"
      ReceiveAndSendBufferLen="50"
      EquipStatusAndAlarmsLen="54"
      EquipStatusLen="30"
        />
    <!--———————————————————————————END——————————————————————————-->


    <!--——————————————————————————————————————————————————————-->
    <!--——————————————————      刷卡器：客户不可定制参数      ——————————————————-->
    <!--——————————————————————————————————————————————————————-->
    
    <!--刷卡器类型标志。（默认值：1
                          有效值：1-庆通刷卡器；）-->
    <ReaderFlag>1</ReaderFlag>
    <ReaderPara>
      <type>
        <ID>1</ID>
        <!--刷卡器类型，庆通刷卡器-->
        <class>CQingTongReader</class>     
        <para>115200,1,0,500</para>

        <ID>2</ID>
        <!--刷卡器类型，网口刷卡器-->
        <class>CNetReader</class>
        <!--10.3.34.13-IP地址
            1-RequestCardMode:刷卡器访卡的模式(默认值：1)
            0-AuthKeyMode:刷卡器授权模式(默认值：0)
            500-ReadICCardRate读取IC卡频率，单位：毫秒（默认值：500毫秒）-->
        <para>10.3.34.13,1,0,500</para>
      </type>
    </ReaderPara>

    <!--———————————————————————————END——————————————————————————-->


    <!--——————————————————————————————————————————————————————-->
    <!--——————————————————      LED：客户不可定制参数     ————————————————————-->
    <!--——————————————————————————————————————————————————————-->
    <!--显示器类型标志。（默认值：0
                          有效值：0-LED串口；
                                  1-LED网口）-->
    <DisplayerFlag>0</DisplayerFlag>
    <DisplayerPara>
      <type>
        <ID>0</ID>
        <!--显示器类型，串口LED-->
        <class>CComLedAccess</class>
        <!--10-LEDComID LED连接串口号
            9600-LEDBaud LED连接波特率
            0-LEDDelay LED连接控制命令回应时间
            192-LEDWidth LED屏宽
            32-LEDHeight LED屏高
            3-LEDEffect LED播放方式7
            7-LEDSpeed LED播放速度0~7
            5-LEDStay LED停留时间0~99
            0-LEDColor LED文本颜色 0-红 1-绿 2-黄-->
        <para>10,9600,0,192,32,3,7,5,0</para>
       
        <ID>1</ID>
        <!--显示器类型，网口LED-->
        <class>NetLedAccess</class>
        <!--10.3.34.12-LEDComID LED连接IP地址-->
        <para>10.3.34.12</para>
      </type>
    </DisplayerPara>
    <!--———————————————————————————END——————————————————————————-->


    <!--——————————————————————————————————————————————————————-->
    <!--——————————————————     客户不可定制的客户端参数     ———————————————————-->
    <!--——————————————————————————————————————————————————————-->
    <!--车位信息表的数据库订阅查询通知语句-->
    <SQLQueryNOTECarPOSN>SELECT warehouse,carlocaddr,carloctype,carlocsize,carlocstatus,iccode From dbo.carlocation</SQLQueryNOTECarPOSN>

    <!--设备故障信息表的数据库订阅查询通知语句-->
    <SQLQueryNOTEDeviceFault>SELECT faultdescp,warehouse,devicecode,faultaddress,color,isable From dbo.devicefault</SQLQueryNOTEDeviceFault>

    <!--设备状态信息表的数据库订阅查询通知语句SELECT tasktype,iccode,halltype,devicecode,warehouse,deviceaddr,devicemode,devicetype,isavailable From dbo.devicestatus-->
    <SQLQueryNOTEDeviceStatus>SELECT devicecode,warehouse,tasktype,deviceaddr,isavailable,devicelayer,devicetype,prevnode,currentnode,queueprevnode,queuecurrentnode From dbo.devicestatus</SQLQueryNOTEDeviceStatus>

    <!--LED显示内容信息表的数据库订阅查询通知语句-->
    <SQLQueryNOTELEDContent>SELECT id,ledcontent From dbo.ledcontent</SQLQueryNOTELEDContent>

    <!--所有权限集合-->
    <AllOptPermission>系统维护,系统配置,用户管理,缴费管理,操作员管理,查询统计,临时取物,手动指令,故障汇总,维保管理,IC卡缴费,车主管理,计费标准,IC卡缴费日志</AllOptPermission>

    <!--管理员最高权限，15871转换成二进制：11 1101 1111 1111（对上文字逆序）-->
    <ManagerTopPRMSN>15871</ManagerTopPRMSN>

    <!--操作员最高权限，9699转换成二进制：10 0101 1110 0011 -->
    <OperatorTopPRMSN>9699</OperatorTopPRMSN>

    <!--计费人员最高权限，9707转换成二进制：10 0101 1110 1011-->
    <TollKeeperTopPRMSN>9707</TollKeeperTopPRMSN>

    <!--其他最高权限，9699转换成二进制：10 0101 1110 0011 -->
    <OtherTopPRMSN>9699</OtherTopPRMSN>

    <!--CIMC维护人员最高权限，16383转换成二进制：11 1111 1111 1111 -->
    <CIMCWorkerTopPRMSN>16383</CIMCWorkerTopPRMSN>

    <!--———————————————————————————END——————————————————————————-->

    <!--语音播放模式-->
    <AudioAPI>DirectX</AudioAPI>

    <!--PLC数据读取速率，单位：毫秒（默认值：1000毫秒 = 1秒））-->
    <PLCDataUpdateRate>1000</PLCDataUpdateRate>

    <!--最大发送报文ID，报文ID超过该值后从1开始-->
    <MaxTelegramID>4999</MaxTelegramID>

    <!--读取IC卡频率，单位：毫秒（默认值：1毫秒）-->
    <ReadICCardRate>500</ReadICCardRate>

    <!--客户端每个已停车的车位或固定卡车位上显示的内容：默认值：1
                          有效值：1-卡号；2-名字；-->
    <ShowInfoFlag>1</ShowInfoFlag>

    <!--6113定制需求：车辆空闲时掉头旋转标识，默认值：0，有效值：0-无旋转功能；1-有旋转功能-->
    <VehicleRotationFlag>0</VehicleRotationFlag>

    <!--6113定制需求：替换IC卡但是逻辑卡号不变仍然使用工号，默认值：0
                          有效值：0-关闭该功能新卡与旧卡的逻辑卡号不同；1-打开该功能，新卡与旧卡的逻辑卡号相同-->
    <ReplacePhyCardIDFlag>0</ReplacePhyCardIDFlag>

    <!--6113定制需求：固定车位卡车主无合适车位时是否分配临时车位，默认值：0
                          有效值：0-固定车主开一辆大于绑定车辆时，不分配临时车位；1-打开该功能，分配临时车位-->
    <FixAllotTempcarlocFlag>1</FixAllotTempcarlocFlag>

    <!--6113定制需求：获取移动APP平板应用用户取车优先级（默认值：0无优先级）-->
    <APPPriorityId>1</APPPriorityId>
    
    <!--APP开发需求：每个车库管理系统项目名称（唯一性）6113-->
    <ProjectName></ProjectName>
  
</CommonSettings>

  <PLCSettings>
    <PLC1 ID ="1">
      <!--PLC连接标识-->
      <PLCConnectID>
		  S7:[S7 connection_1]DB1001,INT0,50;
		  S7:[S7 connection_1]DB1001,INT100,1;
		  S7:[S7 connection_1]DB1002,INT0,50;
		  S7:[S7 connection_1]DB1002,INT100,1;
		  S7:[S7 connection_1]DB1003,B0,54;
		  S7:[S7 connection_1]DB1005,B0,54;
		  S7:[S7 connection_1]DB1007,B0,54;
		  S7:[S7 connection_1]DB1009,B0,54;
		  S7:[S7 connection_1]DB1011,B0,54;
		  S7:[S7 connection_1]DB1013,B0,54;
		  S7:[S7 connection_1]DB1023,B0,54;
		  S7:[S7 connection_1]DB1025,B0,54;
		  S7:[S7 connection_1]DB1027,B0,54
	  </PLCConnectID>

      <!--库区ID-->
      <WareHouseID>1</WareHouseID>

      <!--车库类型：允许配置的值：PlaneShifting，AisleStack，VerticalLifting，PlaneShiftingMore 【默认值：AisleStack】
                    平面移动PlaneShifting：平面移动类停车设备Plane Shifting Mechanical Parking System  
                    巷道堆垛：AisleStack：巷道堆垛类停车设备Aisle-stack Mechanical Parking System  
                    塔库：VerticalLifting：垂直升降类停车设备Vertical Lifting Mechanical Parking System  
                    平面移动TV多台PlaneShiftingMore：平面移动类停车设备Plane Shifting Mechanical Parking System More一层2台TV
                    -->
      <GarageType>PlaneShiftingMore</GarageType>

      <!--ETV配置信息-->
      <ETVOrTVSettings Count="6" Min="0" Max="10">
        <DeviceID>			
            <value>1</value>
			<value>2</value>
			<value>3</value>
			<value>4</value>
			<value>5</value>
			<value>6</value>
        </DeviceID>
      </ETVOrTVSettings>

      <!--升降机配置信息-->
      <ElevatorSettings Count="0" Min="0" Max="10">
        <DeviceID>
          <value>0</value>
          <value>0</value>
        </DeviceID>
      </ElevatorSettings>

      <!--车厅配置信息-->
      <HallSettings Count="3" Min="1" Max="10">
        <Hall>
          <!--车厅号-->
          <HallID>11</HallID>

          <!--车厅名字，LED显示时用，如没配置此参数则默认显示为：HallID - 10 -->
          <HallName>1号车厅</HallName>

          <!--刷卡器串口号-->
          <ICCardComID>3</ICCardComID>

          <!--LED显示屏地址-->
          <LEDAddress>6</LEDAddress>

          <!--LED即时文本有效时间-->
          <LEDTotalStay>99</LEDTotalStay>

          <!--AudioDeviceDesc值配置：扬声器 (音频设备的设备描述)-->
          <AudioDeviceDesc>扬声器 (9- C-Media USB Headphone Set  )</AudioDeviceDesc>

          <!--LED连接串口号-->
          <LEDComID>6</LEDComID>

          <!--顾客显示屏连接串口号-->
          <CustomerLEDComID></CustomerLEDComID>
          
          <!--车牌识别IP地址-->
          <PlateIP>10.3.34.110</PlateIP>
          <!--车牌识别端口号-->
          <PlatePort>80</PlatePort>
          <!--车牌识别所需用户名-->
          <PlateUserName>admin</PlateUserName>
          <!--车牌识别所需密码-->
          <PlatePassword>admin</PlatePassword>
        </Hall>
        <Hall>
          <!--车厅号-->
          <HallID>12</HallID>

          <!--车厅名字，LED显示时用，如没配置此参数则默认显示为：HallID - 10 -->
          <HallName>2号车厅</HallName>

          <!--刷卡器串口号-->
          <ICCardComID>4</ICCardComID>

          <!--LED显示屏地址-->
          <LEDAddress>7</LEDAddress>

          <!--LED即时文本有效时间-->
          <LEDTotalStay>99</LEDTotalStay>

          <!--AudioDeviceDesc值配置：扬声器 (音频设备的设备描述)-->
          <AudioDeviceDesc>扬声器 (USB Audio Device)</AudioDeviceDesc>

          <!--LED连接串口号-->
          <LEDComID>7</LEDComID>

          <!--顾客显示屏连接串口号-->
          <CustomerLEDComID></CustomerLEDComID>

          <!--车牌识别IP地址-->
          <PlateIP>10.3.34.111</PlateIP>
          <!--车牌识别端口号-->
          <PlatePort>80</PlatePort>
          <!--车牌识别所需用户名-->
          <PlateUserName>admin</PlateUserName>
          <!--车牌识别所需密码-->
          <PlatePassword>admin</PlatePassword>
        </Hall>
        <Hall>
          <!--车厅号-->
          <HallID>13</HallID>

          <!--车厅名字，LED显示时用，如没配置此参数则默认显示为：HallID - 10 -->
          <HallName>3号车厅</HallName>

          <!--刷卡器串口号-->
          <ICCardComID>5</ICCardComID>

          <!--LED显示屏地址-->
          <LEDAddress>9</LEDAddress>

          <!--LED即时文本有效时间-->
          <LEDTotalStay>99</LEDTotalStay>

          <!--AudioDeviceDesc值配置：扬声器 (音频设备的设备描述)-->
          <AudioDeviceDesc>扬声器 (8- C-Media USB Headphone Set  )</AudioDeviceDesc>

          <!--LED连接串口号-->
          <LEDComID>9</LEDComID>

          <!--顾客显示屏连接串口号-->
          <CustomerLEDComID></CustomerLEDComID>
          
          <!--车牌识别IP地址-->
          <PlateIP>10.3.34.112</PlateIP>
          <!--车牌识别端口号-->
          <PlatePort>80</PlatePort>
          <!--车牌识别所需用户名-->
          <PlateUserName>admin</PlateUserName>
          <!--车牌识别所需密码-->
          <PlatePassword>admin</PlatePassword>
        </Hall>        
      </HallSettings>

      <!--车位布局信息：Rectangle:边排列信息；Width:当前库总列数；Height:当前库总层数；PanelType：车位布局类型-->
      <CarPSONLayoutInfo>
        <Rectangle>201</Rectangle>
        <Width>40</Width>
        <Height>3</Height>
        <!--CVerticalPanel:通道是垂直布局的车位 CLevelPanel:通道是水平布局的车位 CPlaneShifting:平面移动-->
        <PanelType>CPlaneShifting_安定</PanelType>
      </CarPSONLayoutInfo>

      <!--车厅之间共享一个LED显示屏标识：默认值：0（0-不共享；1-共享）-->
      <SharingLEDFlag>0</SharingLEDFlag>

      <!--中集天达新厂临时取物在车厅直接处理需标识：刷卡取车到车厅，取完物品后再次刷卡将车存回库内。
                          默认值：0
                          有效值：0-无该需求，临时取物需要在操作室处理。
                                  1:-该需求生效。
                                  其他值：无效，取默认值-->
      <CIMCTmpFetch>0</CIMCTmpFetch>

      <!--按库区排队取车标识：正常是按车厅排队取车，该需求是按照库区排队取车
                              默认值：0
                              有效值：0-按车厅排队取车
                                      1-按库区排队取车-->
      <VEHExitQueueByWH>0</VEHExitQueueByWH>

      <!--LED显示用参数：取车排队时提示每个取车剩余时间-->
      <!--存一辆车所用时间，单位：秒-->
      <ParkingDuration>30</ParkingDuration>
      <!--取一辆车所用时间，单位：秒-->
      <VEHExitDuration>65</VEHExitDuration>
      <!--临时取物所用时间，单位：秒-->
      <TmpFetchDuration>95</TmpFetchDuration>

      <!--车辆跑位状态PLC地址(默认值：122)-->
      <CarDislocation>122</CarDislocation>
      <!--车辆外形超限指令状态PLC地址(默认值：6)-->
      <CarOverLimit>7</CarOverLimit>
      <!--车厅故障红色与绿色界限（小于nColorAddr为红色，否则绿色）-->
      <ColorAddrHall>140</ColorAddrHall>
      <!--ETV或TV故障红色与绿色界限（小于nColorAddr为红色，否则绿色）-->
      <ColorAddrETVorTV>160</ColorAddrETVorTV>

      <!--——————————————————————————————————————————————————————-->
      <!--——————————————————     PLC地址：客户不可定制参数      ——————————————————-->
      <!--——————————————————————————————————————————————————————-->
      <!--通信模块标志。（默认值：1
                          有效值：1-OPC订阅事件模块；2-Modbus模块TCP客户端；3-Modbus模块TCP服务端；4-OPC计时器模块；5-Modbus模块TCP客户端计时器模块）-->
      <CommModuleFlag>5</CommModuleFlag>
      <CommModulePara>
        <type>
          <ID>1</ID>
          <class>COPCAccess</class>
          <para></para>
        </type>
        <type>
          <ID>2</ID>
          <class>CTcpClientAccess</class>
          <para>10.3.34.10,2000</para>
        </type>
        <type>
          <ID>3</ID>
          <class>CTcpServerAccess</class>
          <para>10.3.34.10,2000</para>
        </type>
        <type>
          <ID>4</ID>
          <class>COPCAccessTimer</class>
          <!--主机名、刷新频率（单位s）-->
	  <para>,1000</para>
        </type>
        <type>
          <ID>5</ID>
          <class>CTcpClientAccessTimer</class>
          <!--PLC中的IP地址、rack、slot槽号、刷新频率（单位s）-->
          <para>192.168.0.10,0,2,1000</para>
        </type>
      </CommModulePara>

      <!--LED连接串口号-->
      <LEDComID></LEDComID>

      <!--顾客显示屏连接串口号-->
      <CustomerLEDComID></CustomerLEDComID>

      <!--6113定制需求：某库无临时车位时，在入库前是否提示“只剩VIP车位”语音，入库判断条件范围为(0,该值) 默认值：0
                          有效值：0-不提示该语音；30-打开该功能，提示该语音,30表示入库前存车自动步进值-->
      <VIPSoundFlag>30</VIPSoundFlag>
      
    </PLC1>
  </PLCSettings>
</configuration>