<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
	 <serviceHostingEnvironment aspNetCompatibilityEnabled="true"></serviceHostingEnvironment>
    <bindings>
      <netTcpBinding>
        <binding name="NoneSecurityTcp" receiveTimeout="24.20:31:23"
          transferMode="Buffered" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="409600" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="24.20:31:23" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="NoneSecurityWs" receiveTimeout="24.20:31:23" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="409600" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="24.20:31:23" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFServiceLib.CPushServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="true" httpsHelpPageEnabled="false"
            includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="WCFQueryLib.CQueryServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WCFServiceLib.CPushServiceBehavior"
        name="WCFServiceLib.CPushService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NoneSecurityTcp"
          contract="WCFServiceLib.IPushService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50001/AutoParkingService/PushService" />
            <add baseAddress="http://localhost:50004/AutoParkingService/PushService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WCFQueryLib.CQueryServiceBehavior"
        name="WCFQueryLib.CQueryService">
        <endpoint binding="wsHttpBinding" bindingConfiguration="NoneSecurityWs"
          contract="WCFQueryLib.IQueryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50003/AutoParkingService/QueryService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
     <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>-->
</configuration>