<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseManagementLib.Properties.Settings._6113ConnectionString"
            connectionString="Data Source=.\SQLExpress;User ID=sa;Password=cimc_1234;Initial Catalog=db_6150xm"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseManagementLib.Properties.Settings._6113ConnectionString1"
            connectionString="Data Source=STAS-L0565;Initial Catalog=6113;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseManagementLib.Properties.Settings.db_6096BJConnectionString"
            connectionString="Data Source=STAS-L0565;Initial Catalog=db_6096BJ;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>